@page "/scheduledtasks"

@attribute [Authorize]

@inject IHttpClientFactory httpClientFactory

<PageTitle>My Scheduled Tasks</PageTitle>

<h1>My Scheduled Tasks</h1>

<p>These are your scheduled tasks.</p>

<a class="btn btn-primary" href="scheduledtasks/new">New</a>
