@page "/scheduledtasks/new"
@attribute [Authorize]

@using WebScheduler.Api.ViewModels
@using Microsoft.Extensions.Logging
@inject ScheduledTaskService scheduledTaskService
@inject ILogger<New> Logger
@inject NavigationManager NavigationManager
<PageTitle>My Scheduled Tasks</PageTitle>

<h1>My Scheduled Tasks</h1>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="model.Name" />
    <InputTextArea id="name" @bind-Value="model.Description" />
    <button type="submit">Save</button>
</EditForm>

@code {
    private SaveScheduledTask model = new();

    private async Task HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");
        try
        {
            var result = await scheduledTaskService.CreateScheduledTaskAsync(model);
            if (result != null)
            {
                NavigationManager.NavigateTo($"scheduledtasks/{result.ScheduledTaskId}");
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error creating scheduled task");
        }
    }
}
