@page "/scheduledtasks/{Id:guid}"
@attribute [Authorize]
@using WebScheduler.Api.ViewModels
@using Microsoft.Extensions.Logging
@inject ILogger<View> Logger
@inject NavigationManager NavigationManager
@inject ScheduledTaskService scheduledTaskService
<PageTitle>My Scheduled Tasks</PageTitle>

@if(@model.ScheduledTaskId == Guid.Empty)
{
    <p>Loading...</p>
}
else
{

<h1>Scheduled Task: @model.Name</h1>
<p>@model.Description</p>

}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private ScheduledTask model = new();

    protected async override Task OnInitializedAsync()
    {
        try
        {
            model = await scheduledTaskService.GetScheduledTaskAsync(this.Id);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error getting scheduled task: {id}", model.ScheduledTaskId);
        }

    }
}
