@page "/fetchdata"
@inject IHttpClientFactory httpClientFactory

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (taskData == string.Empty)
{
    <p><em>Loading...</em></p>
}
else
{
   @taskData
}

@code {
    private string taskData = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var client = httpClientFactory.CreateClient("web-scheduler-api");
        taskData= await client.GetStringAsync("scheduledtasks/340cc9cf-d21e-4714-8db7-09ad7a199548?api-version=1.0");
    }
}
